@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
.subjectYearMain{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size:18px;
}
.con{
    margin-top: 90px;
}
.btnNext{
    background-color: black;
    color: white;
}
.showAllSubjectsMain{
    background-color: #274B69;
}
.marginButtonS{
    margin-left: 15%;
    margin-right: 10%;
}
.marginButtonEp{
    margin-right:15%;
}

@media screen and (max-width: 1201px) {

    .marginButtonS{
        margin-left: 13%;
        margin-right: 7%;
    }
    .marginButtonEp{
        margin-right: 13%;
    }

}
@media screen and (max-width: 992px) {
    .marginButtonS{
        margin-left: 1%;
        margin-right: 7%;
    }
    .marginButtonEp{
        margin-right:1%;
    }
    .subjectButton{
        width: 100px;
    }
}
@media screen and (max-width:908px){
    .subjectMain{
        width:170px;
        height: 150px;
    }
    .epMain{
        width:170px;
        height: 150px;
    }
    .subjectButton{

        width: 200px;

    }
    .epButton{
        background-color: #274B69;
        width: 200px;
        height: 200px;
    }


}

.introText{
    font-size: 130%;
}
.subjectMain{
    width:250px;
    height: 150px;
    object-fit: contain;
}
.subjectButton{
    background-color: #274B69;
    width: 320px;
    height: 200px;
}
.epButton{
    background-color: #274B69;
    width: 320px;
    height: 200px;
}

.epMain{
    width:230px;
    height: 150px;
    object-fit: contain;
}
 @media screen and (max-width: 772px){
     .marginButtonS{
         text-align: center;
         margin: 0 auto;
         display: inline;
     }
     .marginButtonEp{
         text-align: center;
         margin: 0 auto;
         display: inline;
     }
     .subjectButton{
         width: 350px;
         height: 250px;
     }
     .subjectMain{
         width: 300px;
         height:200px;
     }
     .epMain{
         width: 300px;
         height:200px;
     }

     .epButton{
         width: 350px;
         height: 250px;
     }


 }
@media screen and (max-width: 575px) {
    span.psw {
        display: block;
        float: none;
    }
    .filters {
        width: 100%;
    }
    .subj{
        width: 100%;
    }
}
.cDot1{
    background-color: lightyellow;
}
.cDot2{
    background-color: lightgrey;
}
.cDot3{
    background-color: lightsteelblue;
}
.cDot4{
    background-color: #274B69;
}
.quantityAll{
    font-size: 250%;
}
.textUnderDot{
    font-size: 29px; font-style: oblique;
}
.dot {
    width: 220px;
    height: 220px;
    border-radius: 90%;
    line-height: 210px;
    text-align: center;
    display: inline-block;
}
.sp + .sp {
    margin-left: 40px;
}

.stepInReg{
    text-align:center;
    margin-top:40px;
}
.nextPrevButtons{
    overflow:auto;
}
.nextPrev{
    float:right;
}
.popularSubjBorder{
    border: 1px solid lightgray;
}
.firstPart{
    background-color: #274B69;
}
.popSubjMain{
    font-size: 20px;
}
.average{
    font-size: 20px;
}
.buttonAllRev:hover{
    opacity: 0.5;
}
.popSubjFaculty{
    font-size: 18px;
    position: absolute;
    top: 8px;
    right: 16px;
}
.averageValue{
    font-size:20px;
    font-weight: bold;
}
.popSubjTeacher{
    font-size: 18px;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.popSubjCourse{
    font-size: 18px;
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.popSubjQuantityReviews{
    color: rgba(27,23,22,0.7);
}
.buttonAllRev{
    background-color: #274B69;
    margin-bottom: 5px;
}
.regPartMain{
    background-color: grey;
}
.fontDetails{
    font-weight: bold;
}
/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
.tab {
    display: none;
}
.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: black;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

button:hover {
    opacity: 0.8;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}
input.invalid {
    background-color: #ffdddd;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active {
    opacity: 1;
}

.step.finish {
    background-color: darkblue;
}

