<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reviews on Subject</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/PageSubjectReviews.css">
    <link rel="stylesheet" href="/RegisteredUser.css">
    <script src="/PageSubjectReviews.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

<!-- зареєстр або незареєстр-->
<?-include('./Navbar.html')?>

<div class="container con">
    <div id="infoSubj">

    </div>


    <h3 class="mt-5 mb-5 ml-5 allEpRev">Усі відгуки</h3>
    <div id="allReviews">

    </div>


</div>

<div class="container-fluid">
    <footer class="pt-4 mt-5">

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2 text-center">
                <a class='text-decoration-none text-reset' href='#'>Контакти</a>
            </div>
            <div class="col-sm-2 text-center">
                <a class='text-decoration-none text-reset' href='#'>FAQ</a>
            </div>
            <div class="col-sm-2 text-center">
                <a class='text-decoration-none text-reset' href='#'>Правила</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </footer>
</div>
</body>
</html>