<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Reg</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" href="RegisteredUser.css">-->

<!--</head>-->
<!--<body>-->


<!--<nav class="navbar navbar-expand-lg" >-->

<!--    <a class="navbar-brand mr-5" ><IMG src="images/KmaRate.png"></a>-->

<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"-->
<!--            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="basicExampleNav">-->
<!--        <form class="form-inline">-->
<!--            <div class="md-form my-0">-->
<!--                <input class="form-control mr-sm-2 " type="text" placeholder="Пошук.." aria-label="Search">-->
<!--            </div>-->
<!--        </form>-->

<!--        <ul class="navbar-nav ml-auto mt-2" style="margin-right: 30px;">-->
<!--            <li  class="nav-item mt-1">-->
<!--                <a class="text-decoration-none text-reset mr-4 " href='/subj'>Всі дисципліни</a>-->
<!--            </li>-->
<!--            <li  class="nav-item mt-1">-->
<!--                <a class="text-decoration-none text-reset mr-4 " href='/ep'>Всі програми обміну</a>-->
<!--            </li>-->

<li class="nav-item text-white">
    <div class="dropdown">
        <a  class="text-decoration-none text-reset text-center" href='/profile/<?-user.nickname?>'><i class="fa fa-user" aria-hidden="true"></i> Мій профіль</a>
        <button  type="button" class="btn profileDown" data-toggle="dropdown"><i class="fa fa-caret-down downNavbar" aria-hidden="true"></i></button>
        <div class="dropdown-menu">
            <a class="dropdown-item " href='/settings'><i class="fa fa-cog" style="color: #274B69;" aria-hidden="true"></i> Налаштування</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href='/logout'><i class="fa fa-sign-out" style="color:#b71818; " aria-hidden="true"></i> Вийти</a>
        </div>
    </div>
</li>


<!--        </ul>-->

<!--    </div>-->
<!--</nav>-->

<!--</body>-->
<!--</html>-->