<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="Registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

<?-include('./Navbar.html')?>


<div class="container con">
    <div class="container">
        <h4 class=" sizeRegistr text-center mt-5">Реєстрація</h4>
    </div>
    <div class="reg rounded mt-3" id="signup">
        <form id="registration">
            <div class="container">
                <label  class="mt-1" for="uname2"><b>Логін*</b></label>
                <input  class="form-control" type="text" placeholder="Твій нікнейм..." id="uname2" name="nickname" required>

                <label class="mt-1"  for="mailUser"><b>Пошта*</b></label>
                <input  class="form-control" type="email" placeholder="Твоя пошта..." id="mailUser" name="email" required>


                <label class="mt-1"><b>Спеціальність*</b></label>
                <select name="userBranch" id="userBranch" class="custom-select" required>
                    <option selected value="" disabled>Не обрано </option>

                    <?for(let b of branchs){?>
                    <option value="<?-b.id?>">
                        <?=b.id + ' ' + b.title?>
                    </option>
                    <?}?>
                </select>

                <label class="mt-1"  for="psw2"><b>Пароль*</b></label>
                <input  class="form-control" type="password" placeholder="Пароль..." id="psw2" name="password" required>

                <label class="mt-1"  for="psw3"><b>Повторіть пароль*</b></label>
                <input  class="form-control" type="password" placeholder="Пароль..." id="psw3" name="password2" required>

<!--                <div class="custom-control custom-checkbox mb-3">-->
<!--                    <input type="checkbox" class="custom-control-input" checked="checked" id="acceptConditions" name="agree" required>-->
<!--                    <label class="custom-control-label mt-2" for="acceptConditions">Я приймаю <a href='#'>умови конфіденційності</a></label>-->
<!--                </div>-->
                <div class="text-center" id="btnReg">
                    <button class="btn btn-lg text-white display-5 registrationButton" type="submit">Зареєструватись</button>
                </div>
            </div>
            <br>
            <div class="container text-center isRegisteredDiv">
                <span><b> Вже є аккаунт?</b></span> <br>
                <div class="text-center">
                    <button class="btn text-white signInRegForm" type="button" onclick="document.getElementById('entrance').style.display='block'">Увійти</button>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="Registration.js" charset="utf-8"></script>
</body>

</html>