body{
    font-family: 'Ubuntu', sans-serif;
}
.editHeader{
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
}
.downNavbar{
   color: white;
}
.con{
    margin-top: 90px;
}
.userInfoEdit{
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 28px;
}
.uploadPhoto{
    background-color: #274B69;
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
}
.loginEdit{
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}

button:hover {
    opacity: 0.6;
}
.profileDown:active:focus,
.profileDown:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
.editSaveB{
    background-color: #274B69;
}
.editForm{
    border: 1px solid lightgray;
    border-radius: 2%;
}
.editAvatar{
    width:250px;
}
.editChangePswrd{
    width:auto;
    background-color: #274B69;
}
.endEditForm{
    text-align: right;
}
.saveEditForm{
    background-color: #274B69;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}