<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/RevSubject.css">
    <link rel="stylesheet" href="/RegisteredUser.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

<?-include('./Navbar.html')?>



<div class="container con">
    <div class="row">

        <div class="col-sm-12">
            <br>
            <p class=" mt-2 mb-4 revHeader"> Залишити відгук</p>
            <div class="makeRevDiv">
                <p class="ml-5 mr-5 mt-4 questionsRev">Оцінка місця проживання *</p>
                <form id='form1EP' class="ml-5 mr-5 rating">
                    <label>
                        <input type="radio" name="ratePlacing" value="1"/>
                        <span title="1" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="2" />
                        <span class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="2" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="3" />
                        <span class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="3" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="4" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="4" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="5" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="5" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="6" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  title="6" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="7" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="7" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="8" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="8" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="9" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="9" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="ratePlacing" value="10" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="10" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                </form>


                <div class="form-group">
                    <p class="ml-5 mr-5 mt-4 questionsRev">Мій рівень англійської *</p>
                    <div class="row ml-1">
                        <div class="colOption">
                            <select name="engLevel" class="ml-5 mr-5 custom-select">
                                <option value="a1">A1</option>
                                <option value="a2">A2</option>
                                <option value="b1">B1</option>
                                <option value="b2">B2</option>
                                <option value="c1">C1</option>
                                <option value="c2">C2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p class="ml-5 mr-5 mt-4 questionsRev">Середній бал в КМА на момент поїздки *</p>
                    <div class="row ml-1">
                        <div class="colOption">
                            <input type="number" class="ml-5 mr-5 form-control" name="balKMA">
                        </div>
                    </div>
                </div>

                <p class="ml-5 mr-5 mt-4 questionsRev">Адаптація пройшла успішно *</p>
                <form id='successAdapt' class="ml-5 mr-5 rating">
                    <label>
                        <input type="radio" name="successAdaptation" value="1"/>
                        <span title="1" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="2" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  title="2" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="3" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="3" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>

                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="4" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="4" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="5" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  title="5" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>

                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="6" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  title="6" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="7" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="7" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="8" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="8" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="9" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="9" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="successAdaptation" value="10" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="10" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                </form>

                <p class="ml-5 mr-5 mt-4 questionsRev">Різниця в навчанні*</p>
                <form id='diffEducation' class="ml-5 mr-5 rating">
                    <label>
                        <input type="radio" name="diffStudying" value="1"/>
                        <span title="1" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="2" />
                        <span class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="2" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="3" />
                        <span class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="3" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="4" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="4" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="5" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="5" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="6" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  title="6" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="7" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="7" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="8" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="8" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="9" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="9" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                    <label>
                        <input type="radio" name="diffStudying" value="10" />
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span  class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                        <span title="10" class="iconRate"><i class="fa fa-circle-o mr-2 iconCircle" aria-hidden="true"></i></span>
                    </label>
                </form>

                <p class="ml-5 mr-5 mt-4 questionsRev">Розкажіть детальніше про Ваш власний досвід ТУТ</p>
                <form id="experienceHere">
                <div class="text-center">
                    <textarea name="difficulties" class="ml-1 mr-1 mt-2 mb-2 difficultiesEP" placeholder="Опишіть складнощі, з якими Ви стикалися"></textarea>
                </div>
                </form>
                <div>

                    <button id="makeReviewEP"  class="btn btn-lg text-white ml-4 mt-5 mb-4 makeRevEp" type="button">Залишити відгук</button>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>


<script src="/RevEP.js" charset="utf-8"></script>
</body>
</html>